@media print {
    .no-print {
        display: none;
    }

    .main-layout {
        margin-top: 10px !important;
    }

    .invoice-title {
        /*font-size: 18px;*/
    }

}

.a4-landscape {
    width: 1020px;
    margin: 0px auto;
    padding: 0px;

}

.a4-portrait {
    width: 720px;
    margin: 0px auto;
    padding: 0px;

}

#footerInvoice {
    position:absolute;
    bottom:0;
    width:100%;
   /* height:60px;   !* Height of the footer *!*/
}

