/* CSS declarations go here */
.cursor-pointer {
    cursor: pointer;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

input[type="search"] {
    height: 30px;
    border-radius: 500rem;
    padding-right: 2.67142857em !important;
}

.payment-form {
    position: fixed !important;
    /*background: #00B5AD !important;*/

}

.register-total {
    background: #00B5AD !important;

}

/*Fory Pay*/
/*body{
    padding-top: 35px;
}*/
.plan-title {
    font-size: 25px;
    text-align: center;

}

.feature {
    border: none !important;
    font-size: 20px;
    text-align: center;
}

.feature .regular-price {
    position: absolute;
    top: 5px;
    right: 49%;
}

/*.btn-plan{
    padding: 20px !important;
}*/
.plan {
    overflow: hidden;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.plan:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 1;
}

@media screen and (min-width: 767px) {
    .principal {
        transform: scale(1.05);
    }

    .principal:hover {
        transform: scale(1.1);
        z-index: 1;
    }
}

.plan-ribbon {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: #21ba45;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    min-width: 200px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: -45px;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0 0.2);
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0 0.2);
    box-shadow: 1px 1px 8px rgba(0, 0, 0 0.2);
    z-index: 1;
    line-height: 10px;
}

.plan-ribbon.red {
    background-color: #DB2828;
}

.plan-ribbon.green {
    background-color: #21BA45;
}

.plan-ribbon.yellow {
    background-color: #FBBD08;
}

.amount {
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
}

.regular-price {
    text-decoration: line-through;
    font-weight: 100;
    font-size: 16px;
    color: rgb(190, 190, 190);
}

.field {
    margin-bottom: 1em !important;
}

.ui .progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #26a69a;
    /*background-color: #acece6;*/
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
}

.ui .progress .indeterminate {
    background-color: #acece6;
    /*background-color: #26a69a;*/
}

.ui .progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite !important;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.ui .progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

td .field {
    margin-bottom: 0em !important;
}

th .field {
    margin-bottom: 0em !important;
}

.ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: fixed !important;
    margin-top: 70px !important;
    bottom: 0;
    width: 100%;
    z-index: 101;
    background-color: green !important;
}

/*Style Form Login 0*/

/*.custom-login-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;

    background: #283048; !* fallback for old browsers *!
    background: -webkit-linear-gradient(to left, #859398, teal); !* Chrome 10-25, Safari 5.1-6 *!
    background: linear-gradient(to left, #859398, teal); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!

}*/
.custom-login-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;

    background-color: teal;
    background-image: radial-gradient(
            white,
            teal
    );

    /*background: #283048; !* fallback for old browsers *!
    background: -webkit-linear-gradient(to left, #859398, teal); !* Chrome 10-25, Safari 5.1-6 *!
    background: linear-gradient(to left, #859398, teal); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!
*/
}

.particles-js-content {
    z-index: 100;
    position: relative;
}

.login-box, .register-box {
    width: 360px;
    margin: 10% auto;
}

.ui.center.aligned.header {
    text-align: center;
    color: white !important;
}

/*Stye Form Login*/
.body-login {
    background: url('https://ununsplash.imgix.net/uploads/141362941583982a7e0fc/abcfbca1?q=75&fm=jpg&s=5266baf09e0e878b72b2e34adf2f54a0') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.form-holder {
    background: rgba(255, 255, 255, 0.2);
    margin-top: 10%;
    border-radius: 3px;
}

.form-head {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 30px #000;
    margin: 15px auto 30px auto;
}

.remember-me {
    text-align: left;
}

.ui.checkbox label {
    color: #ddd;
}

.ui.form .field > label {
    text-align: left !important;
}

.ui.dividing.header.area {
    text-align: left !important;
}

.ui.primary.button.area {
    width: 150px;
}

/*Footer*/

footer > .ui.vertical.stripe.segment {
    background-color: rgba(0, 0, 0, 0.06);
}

.ui.vertical.segment {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    background: none transparent;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.ui.segment:first-child {
    margin-top: 0;
}

.ui.segment, .ui.segments .segment {
    font-size: 1rem;
}

.ui.segment {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
}

*, :after, :before {
    box-sizing: inherit;
}

.ui.container {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.ui.button > .icon:not(.button) {
    opacity: 9.8 !important;
}

.medium-editor{
    min-height: 50px;
}