/*
.el-select {
    width: 98% !important;
}

.el-card__header {
    background-color: teal !important;
}*/


@font-face {
    font-family: 'element-icons';
    src: url('/fonts/element-icons.woff') format('woff'),
    url('/fonts/element-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}